html,
body {
    margin: 0;
    padding: 0;
    height: 100%; /* 이 설정은 그대로 유지 */
    width: 100%;
    overflow: auto; /* 스크롤을 가능하게 설정 */
    display: block; /* flex 대신 block으로 설정 */
}

.main-container {
    position: relative;
    width: 100%;
    min-height: 100vh; /* 최소 높이 설정 */
    overflow: auto; /* 스크롤 가능하게 설정 */
}

.container {
    display: block; /* 컨텐츠가 스크롤될 수 있도록 설정 */
}

.settings-icon {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
    z-index: 10; /* 상위 요소에 가리지 않도록 설정 */
}

.record-icon {
    position: fixed;
    top: 30px; 
    right: 130px; 
    width: 50px;
    height: auto;
    cursor: pointer;
    z-index: 10; 
}
