.video-player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.youtube-iframe {
    width: 66vw;
    height: calc(66vw * 9 / 16);
    border: none;
    z-index: 2;
}

.info-container {
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
}

.video-controls {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    gap: 10px;
}

.video-controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-controls button:hover {
    background-color: #0056b3;
}

.back-button:hover {
    background-color: #0056b3;
}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#output {
    z-index: 4;
}